h1
{
    color:palegreen;
    background-color: rgb(rgb(255, 0, 234),green, blue);
    text-shadow: 5px 5px brown;
}
body
{
    color:chocolate;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 4px outset purple;
}


