header{
    background-color:brown;
    box-shadow: 5 px 5px pink;
    position:relative;
    right: 10px;
    bottom: 20px;
}

p::first-line
{
    color:blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}